body{
    width:100vw;
    margin: 0%;
    padding:0%;
    cursor: auto;
    overflow-x: hidden;
    transition:all 300ms cubic-bezier(.42,0,.3,1.66);  
    background-color: red;
    
    
}

.videoBackground {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
.appContainer{
   width:100vw;
    position: absolute;
    left: 0%;
    top: 0%;
    height:auto;
    overflow-x: hidden;
display:flex;
flex-direction: row;
align-items:center;
flex-wrap: wrap;
justify-content:center;
 text-align: center;
    
}
.header{
    display: block ;
    text-align: center ;
    
}
.logoSquare{
    
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    color: white;
    background-color:#2f2f2f;
}
.navbar-brand{
    
    text-align: center;
    color: #e45c68;
    transition:all 200ms ease-in-out !important;
}
.customUl{
    border: none !important;
    background: none !important;
}
.customLi{
    transition:all 200ms ease-in-out !important;
    background-color:#2f2f2fbc !important;
    color: white !important;
}
.customLi:hover{
    cursor: pointer;
    color:#e45c68 !important;
}
.navbar-brand:hover{
    color:#ff808b !important;
    text-shadow: 3px 2px 1px black;
  
}
.navSquare{

    text-align: center;
    background-color:#2f2f2fbc;
}
.mainNav{
    text-align:center;
  
    color: white;
}

.second{
    position: relative;
}
.mainContent{
    width: 100vw;
    height:70vh;
    background-color:#2f2f2fca;
   font-size: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
   
}
.mainImage{
    max-height: 50vh;
    position: absolute;
    z-index: 99;
    object-fit: contain;
    filter: drop-shadow(27px 67px 23px black);
    -webkit-filter: drop-shadow(27px 67px 23px black);
    -moz-filter: drop-shadow(27px 67px 23px black);
}

.description {
   width:100vw;
   height:auto;
}
h2{
    font-family: 'Alfa Slab One', cursive;
    text-align:left;
    font-size: 6vw;
    opacity: 1;
    -webkit-text-stroke:3px white;
}

h3{
    font-family: 'Alfa Slab One', cursive;
    text-align:right;   
    font-size: 6vw;
    opacity: 1;
    -webkit-text-stroke:2px white;
}

  .sliderFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
   
   perspective:200px;
  
    
  }
  .sliderImage{
      width:70%;
      height:100%;
      object-fit: contain;
      -webkit-filter: drop-shadow(7px 27px 23px rgba(0, 0, 0, 0.507));
      -moz-filter: drop-shadow(7px 27px 23px rgba(0, 0, 0, 0.513));
      transition:all 300ms cubic-bezier(.42,0,.3,1.66);     
  }
  .sliderFlex:hover .sliderImage{
     
      cursor: pointer;
      -webkit-filter: drop-shadow(7px 47px 23px rgba(0, 0, 0, 0.828));
      -moz-filter: drop-shadow(7px 47px 23px rgba(0, 0, 0, 0.828));
    
    
      
  }
  .bestsellers{
    font-size:4rem;  
  }
  .sizerBox{
    width:100vw;
    height:120vh;

display:flex;
flex-direction: row;
align-items:center;
flex-wrap: wrap;
justify-content:center;
 text-align: center;
z-index: 999;


}
.shapesAdvert{
    width:100vw;
    height:190vh;
  margin-top: 150px;
    box-sizing: border-box;

}



.adwertBox{
    width:100vw;
    height: 100vh;
    max-height: auto;
    justify-content: center;
    display:flex;
    align-items:center;
    flex-flow: column wrap;
 
}
/*teraz jest problem przy malym ekranie trzeba jakos ustawic skalowanie zeby czesc kolumn nie znikala*/
.productList{
    flex-grow: 3;
    font-size: 35px;
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 12px;
    font-weight: bold;
    color: white;
}
.addvertItem{
        box-sizing: border-box;
  margin:1px;
    position: relative;
    height:40vh;
    background-color:#2f2f2fd7;
    text-align: center; 
    transition:all 400ms cubic-bezier(1,-0.38,.28,1.57);
}
.loginBox{
    width: 100vw;
    height: 50vh;
    background: rgba(136, 136, 136, 0.431);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer{
    width: 100vw;
    height: 150vh;
    margin-left: auto !important;
    margin-right: auto !important;
    background: rgba(136, 136, 136, 0.431);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ulBox{
    width: 100vw;
    height: 50vh;
    display: flex;
    margin-top:10vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.liBox{
    box-shadow: 0px 22px 60px 1px #e45c68;
    height: 50vh;
    background-color: rgb(0, 0, 0);
    margin: 3px;
    position: relative;
    animation-name: lights;
 animation-duration: 4s; /* or: Xms */
 animation-iteration-count: infinite;
 animation-direction: alternate; /* or: normal */
 animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
    transition: all 300ms ease-in-out;
}

@keyframes lights {
    from{
        box-shadow: 30px 22px 60px 1px #e45c68;
    }
    to{
        box-shadow: 0px -22px 60px 1px #e45c68;
    }
}

.loginButton{
    
    box-sizing: border-box;
   color: white;
    background-color: #e45c68;
    height: 50px;
    border: none;
    box-shadow: 0px 7px 2px 2px #99252f;
    position: relative;
    border-radius:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition:all 400ms cubic-bezier(1,-0.38,.28,1.57);
}   

.toggleMenu{
    opacity: 0;
    margin-top:20px;
    width: 100%;
    height: 50px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    align-items: center;
    transition:all 600ms cubic-bezier(1,-0.38,.28,1.57);
}
.iconButton:hover{
    background-color: #2f2f2f94;
}
.iconButton{
    background-color: #2f2f2f;
    border-radius: 0px;
    color: white;
    border: none;
    height: 100%;
    width: 100%;
   
 text-align: center;
 transition:all 600ms cubic-bezier(1,-0.38,.28,1.57);
}
.fb{
  color:#4267B2;
}
.google{
    background: rgb(255,0,0);
    background: linear-gradient(155deg, rgba(255,0,0,0.7091037098433124) 23%, rgba(219,255,0,0.8855742980786064) 45%, rgba(0,255,34,0.9247899843531162) 66%, rgba(0,44,255,1) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.loginButton:hover .toggleMenu{
    
    margin-top:100px;
    opacity: 1;
}

.loginTitle{
    text-align: center;
    font-size: 25px;    
    letter-spacing: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    -webkit-text-stroke: 0px black;
    text-shadow: 2px 2px 12px black;
}
.loginButton:hover{
    letter-spacing: 5px;
    box-sizing: border-box;
    font-size: 20px;
  transform: scale(1);
    border: none;
    box-shadow: 0px 6px 2px 2px #99252f;
}
.loginButton:active{
    transform: scale(1);
}
.signinButton{
    font-size: 20px;
  
    display:flex;
flex-direction: row;
align-items:baseline;
flex-wrap: wrap;
justify-content:center;
 text-align: center;
    background-color: #2f2f2f;
    border: 0px solid #99252f;
    padding-top: 10px;
    box-shadow: 0px 6px 2px 2px #99252f83;
    border-radius: 50px;
    color: white;
    height: 50px;
    transition: all 1600ms ease;
    cursor: pointer;
}
.icon{
    transform: scale(1.3);
    transition: all 1s ease;
    opacity: 0;
    
}
.signinButton:hover{
    box-shadow: 0px 2px 2px 2px #99252f83;
    transform: scale(0.95);
}
.Custom{
    position: relative;
}
.standard{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 50vh;
    background-color: rgb(0, 0, 0);
    mix-blend-mode: multiply;
    font-size:3vw;
    box-sizing: border-box;
    padding: 3px;
    letter-spacing: 15px;
    font-weight: bold;
    color: white;
}
.visible{
    display:flex;
    flex-direction: row;
    align-items:baseline;
    flex-wrap: wrap;
    justify-content:center;
     text-align: center;
     z-index: 9999;
    color: white;
    letter-spacing: 1px;
    margin-top: 15px;
    transition: all 250ms ease-in-out;
}
.visible:hover{
    color: #e45c68;
    font-weight: bold;
    cursor: pointer;
}
.flexText{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 50vh;
    background-color: rgb(0, 0, 0);
    mix-blend-mode: multiply;
    font-size:8vw;
    
    letter-spacing: 15px;
    font-weight: bold;
    color: white;
}
.videoCustom{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.videoBgc{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}
.overlayImage{

    height:30vh;
    object-fit: contain;
    float:left;
}
.adwertImage{
    
    height:100%;
    object-fit: contain;
}
.addvertItem:hover .detailBox{
    opacity: 1;
    cursor: pointer;
}
.detailBox{
    position: absolute;
    left:0%;
    top: 0%;
    width:100%;
    height:40vh;
    background-color: rgba(0, 0, 0, 0.719);
opacity: 0;
display:flex;
flex-direction: column;
align-items:center;
flex-wrap: wrap;
justify-content:center;
 text-align: center;
 transition:all 400ms cubic-bezier(1,-0.38,.28,1.57);
}
.buttonItem{
    font-weight: 700;
    border: 0px;
    border-radius:50px;
    width:40%;
    height:30px;
    background-color: white;
    margin-top: 20px;
}
.addPrice:first-child{
    letter-spacing:13px;
    margin-bottom: 20px;
    font-family: 'Advent Pro', sans-serif;

   
}
.addPrice{
    letter-spacing:5px;
    color:white;
    font-size: 18px;
    -webkit-text-stroke: 2px white;
 margin:15px;
 font-family: 'Noto Sans JP', sans-serif;
}

.leftShape{
 width:100vw;
 display:flex;
 flex-direction: row;
 align-items:center;
 flex-wrap: wrap;
 justify-content:center;
  text-align: center;
background-color: #2f2f2fde;
  transform:skew(0deg , -15.5deg) ;
  box-shadow: 10px -2px 20px 1px #2f2f2f;
  border-left: 7px solid #e45c68;
  box-sizing: border-box;

}

.typed{
  width:95vw;
    font-size:35px;
    font-family: 'Alfa Slab One', cursive;
  color:#e45c68 !important;
  -webkit-text-stroke: 1px white;
    text-shadow: 2px 2px 2px grey;
    -webkit-filter: drop-shadow(7px 27px 23px #000000);
    -moz-filter: drop-shadow(7px 27px 23px #000000);

}
.rightShape{
  width: 100vw;
  height: 100vh;
  background-color: #e45c67ab;
  box-shadow: -10px -2px 20px 1px black;
  transform:skew(0deg , -15.5deg) ;

}
video{
    object-fit: contain;
    transform:scale(1.1);
    height: 70vh;
    -webkit-filter: drop-shadow(7px 47px 23px #99252f);
    -moz-filter: drop-shadow(7px 47px 23px #99252f);
}

.ulBox{
    width: 100vw;
    height: 50vh;
    display: flex;
    margin-top:10vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media only screen and (min-width: 758px) {
    .ulBox{
        width: 100vw;
        height: 50vh;
        display: flex;
        margin-top:10vw;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .footer{
        width: 100vw;
        height: 80vh;
        margin-left: auto !important;
        margin-right: auto !important;
        background: rgba(136, 136, 136, 0.431);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}
  @media only screen and (max-width: 785px) {

.adwertBox{
    width:100vw;
    height: 250vh;
    max-height: auto;
    justify-content: center;
    display:flex;
    align-items:center;
    flex-flow: column wrap;
 
}

    .shapesAdvert{
        width:100vw;
        height:120vh;
       
        box-sizing: border-box;
       
      
    }
    
    
    .sliderImage{
        width:70%;
        height:300px;
        padding-bottom: 50px;
        box-sizing: border-box;
        -webkit-filter: drop-shadow(7px 27px 23px rgba(0, 0, 0, 0.507));
        -moz-filter: drop-shadow(7px 27px 23px rgba(0, 0, 0, 0.513));
        transition:all 400ms cubic-bezier(1,-0.38,.28,1.57);
    }
  
  
    .sizerBox{
        width:100vw;
        
        height:46vh;
       
        box-sizing: border-box;
     position:relative;
     text-align: center;
   z-index: 999;
   
 
    }
    h2{
       
        font-family: 'Alfa Slab One', cursive;
        text-align:left;
        font-size: 12vw;
        opacity:1;
        -webkit-text-stroke: 3px white;
    }
    
    h3{
        font-family: 'Alfa Slab One', cursive;
        text-align:right;   
      
        font-size: 12vw;
        opacity: 1;
        z-index: 99;
        -webkit-text-stroke:2px white;
    }
   
   
.rightShape{
    margin-top: -10px;
    width: 100vw;
    height: 70vh;
    background-color: #e45c68;
    box-shadow: -8px 6px 20px 1px black;
    transform:skew(0deg , -15.5deg) ;

    
  }
  video{
      object-fit: contain;
      width: 80vw;
      height: 70vh;
  }
  }

 